<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ./partials/head %>
  <% include ./partials/ace-deps %>
</head>
<body class='container-fluid'>
  <header>
    <ol class='breadcrumb'>
      <a class='breadcrumb-item' href='/'>Tables</a>
      <a class='breadcrumb-item' href='/tables/<%= TableName %>'><%= TableName %></a>
      <% if (Item.id) { %>
        <span class='breadcrumb-item'>
          <%= Item.id %>
        </span>
      <% } %>
    </ol>
  </header>

  <main id="app">

    <nav>
        <div>
            <div v-if="message" class='alert alert-success'>{{ message }}</div>
            <div v-if="error" class='alert alert-danger'>{{ error }}</div>
        </div>
      <button
        class='btn btn-primary'
        v-on:click='addItems("<%= TableName %>")'
        type='button'>
        Save
      </button>


      <div><small>To add multiple items to the table, put in an array of objects.</small></div>

    </nav>
    <article id="documentWrapper" style='position: relative; margin-top: 16px; width: 100%; height: 100%'>
      <div id='documentTextarea' style='
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;'><%= JSON.stringify(Item, null, 2) %></div>
    </article>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        error: null,
        message: null
      },
      methods: {
        addItems: function (tableName) {
            let self = this;
          fetch("/tables/"+tableName+"/batch-write" , {
            method: 'put',
            headers: { 'Content-Type': 'text/plain' },
            body: editor.getValue()
          })
          .then(response => response.json())
          .then(response => {
              if(response.error){
                  self.error = response.error;
                  return;
              }
              self.error = "";
              console.log(response);
              self.message = 'response';
          })
          ;
      },
      handleDeleteClick: function(event) {
        event.preventDefault()
        fetch(document.location.pathname, {
          method: 'delete'
        }).then((response) => {
          if (response.ok) {
            window.location = `/tables/<%= TableName %>`
          }
        }).catch((error) => {
          console.error(error)
          alert('There was an error.')
        })
      }
    }
});

      const documentWrapper = document.getElementById('documentWrapper')
      function setTextareaHeight (){
          documentWrapper.style.height = `${window.innerHeight}px`
      }
      setTextareaHeight()

      const editor = ace.edit("documentTextarea")
      editor.resize()
      editor.getSession().setMode("ace/mode/json")
      editor.setTheme("ace/theme/monokai")
      editor.setFontSize(14)
      editor.focus();
  </script>
</body>
</html>
